# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

# Exclude changelog.txt
*changelog.txt

# Exclude packwiz jars
* packwiz-installer.jar
* packwiz-installer-bootstrap.jar
* pakku.jar